.DS_Store
app/.DS_Store
*.DS_Store
*.db
*.xls
*.xlsx
*.pdf
#**/media
media/*
media
ios/
ios/*
media/pengguna/
media/fp/
media/campaign/
media/event_banner/
media/ca/
media/order/
media/produk/
media/bs/
media/free/
media/pemberitahuan/
media/promo/
media/user/
media/users/
media/user/default.png
media/user/default.jpg
media/produk/default.jpg
media/produk/default.png
media/icon/default.png
cron.log
seme.log
app/config/config.php
app/config/controller.php
app/config/core.php
app/config/database.php
app/config/session.php
app/config/timezone.php
app/core/ji_controller.php
app/cache/*.json
app/cache/cron.log
app/cache/seme.log
app/cache/tnc.json
app/cache/faq.json
custom_log
custom_log/*